@import "home";
@import "about";
@import "portfolio";
@import "contact";

@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "home home home"
    "about about about";
  // "portfolio portfolio portfolio  "
  // "contact contact contact ";
  grid-template-rows: 700px 700px;
  grid-template-columns: 100vw;
}
