@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
.home {
  background-color: aqua;
  grid-row: home;
  grid-column: home;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: home;
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/fatos-bytyqi-Agx5_TLsIf4-unsplash.jpg) center center/cover, #333;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/fatos-bytyqi-Agx5_TLsIf4-unsplash.jpg) center center/cover, #333;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home li,
.home a {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20;
  color: aliceblue;
  text-decoration: none;
}

.home .nav {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  text-align: center;
}

.home .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10%;
  list-style: none;
}

.home .logo {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.home .welcome-text1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: white;
  margin-top: 22px;
  text-align: center;
}

.home .welcome-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  margin-top: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: white;
  text-align: center;
}

.home .scroll-downs {
  position: absolute;
  top: 400px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}

.home .mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.home .scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

.about {
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: about;
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 200px);
}

.about .card-box {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  border-color: aqua;
  border-width: 100px;
}

.about .card-box .pro-pic {
  height: 250px;
}

.about .about-me {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.about .language_pic {
  height: 35px;
}

.portfolio {
  background-color: goldenrod;
  grid-area: portfolio;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.contact {
  background-color: salmon;
  grid-area: contact;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

* {
  padding: 0;
  margin: 0;
}

.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "home home home" "about about about";
  -ms-grid-rows: 700px 700px;
      grid-template-rows: 700px 700px;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
}
/*# sourceMappingURL=styles.css.map */